body {
  background: #ffffff
}
input {
  border: 3px solid black;
}
button {
  background:conic-gradient(#e6e9bf, #d2b5aa, #cbaea3, #d4b5ab,
                                #e6e9bf, #d2b5aa, #cbaea3, #d4b5ab,
                                #e6e9bf, #d2b5aa, #cbaea3, #d4b5ab,
                                #e6e9bf, #d2b5aa, #cbaea3, #d4b5ab);
} 

